<!DOCTYPE html>
<html>
<head>
    <title>MY BLOG</title>
</head>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.css">
<link rel="stylesheet" type="text/css" href="backimg.css">
<body style="background: #C67532;
background: -webkit-linear-gradient(bottom right, #C67532, #7F205D);
background: -moz-linear-gradient(bottom right, #C67532, #7F205D);
background: linear-gradient(bottom right, #C67532, #7F205D);">

<div class="ui fixed inverted menu">
    <div class="ui container">
        <div class="header item">My blog</div>
        <a href="/" class="item">Home</a>
        <%if(log){%>
        <a href="/newblog" class="item">Create</a>
        <div class="header item"><%=username%></div>
        <a href="/logout" class="item">Logout</a>
        <a href="/showRequests" class="item">Requests</a>
        <a href="/showFriends" class="item">Friends</a>
        <div class="item" style="margin-left: 220px">
            <div class="ui icon input" >
                <form style=" form:inline; " method="post" action="/search">
                    <input type="text" size=27 name="query" placeholder="Search any users" required >

                    <button class="ui secondary button">Search</button>
                </form>
            </div>	</div>

        <%}else{%>
        <a href="/login" class="item">Log In</a>
        <a href="/register" class="item">Register</a>

        <div class="item" style="margin-left: 490px">
            <div class="ui icon input" >
                <form style=" form:inline; " method="post" action="/search">
                    <input type="text" size=45 name="query" placeholder="Search any post / #keyword / F_ for users" required >

                    <button class="ui secondary button">Search</button>
                </form>
            </div>	</div>
        <%}%>
    </div>
</div>


<br><br><br><br>

<center><br><br><br>
<!--
MESSAGING
-->
 
    <form method="get" action="/<%= recipientUserId %>/send" >
        <input type="text" style="border: 0; padding: 10px; width: 60%; margin-right: .5%;" name = "message">
        <button style="width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px;">SEND</button>
    </form>


</center>
</body>
</html>